body {
    margin: 0;
    background-color: #EEEEEE;
    min-height: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.uiTransparent {
    background-color: rgba(7,24,38,0.7);
}

.glitching {
    background-image: url('http://media.tnh.me/56b7e8325ccacf41a755dc34/58bddf285ccacf211df33d88');
    background-size: cover;
}

#desktopTaskbar {
    width: 100%;
    height: 5%; 
    max-height: 500px; 
    bottom: 0; 
    position: absolute; 
    box-shadow: 0px -2px 5px rgba(0,0,0,0.3);
}

#desktopWrapper {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url('../img/wallpapers/DeafultWallpaper.jpg');
    background-size: cover;
}

#desktopWindowFrame {
    width: 90%;
    height: 85%;
    margin: auto;
    padding: 5px;
    overflow: hidden;
    z-index: 999;
}

.rowNoPaddingOrMargin {
    padding: 0;
    margin: 0;
}

.verticalAlign {
    display: flex;
    align-items: center;
}

#startupScreen {
    background-image: url('../img/Blue.jpg');
    width: 100%;
}

@keyframes rotate {
    from {
      transform: rotate(5deg);
    }
    to { 
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(5deg);
    }
    to { 
      -webkit-transform: rotate(360deg);
    }
  }

#startupScreen img {
    animation-name:             rotate; 
    animation-duration:         2s; 
    animation-iteration-count:  infinite;
    transition-timing-function: linear;
    opacity: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#startupScreen h2 {
    opacity: 0;
    margin-top: 8%;
    text-align: center;
    color: white;
    font-size: 50px;
    padding-left: 30px; /* Slightly off-centres it to the right to make up for
                        the three dots that makes it seemingly off-center */
}

#endScreen
{
    background-image: url("../img/Blue.jpg");
    display: none; /* set to block when the game is over */
    z-index: 99999;
}

#endScreen #container
{
    width: 75%;
    margin: auto;
}

#endScreen h1 
{
    padding-top: 50px;
    padding-left: 5%;
    color: white;
    font-size: 250px;
}

#endScreen h2
{
    font-size: 35px;
    color:white;
    padding-left: 70px;
    padding-top: 5px;
}

#endScreenStats
{
    font-size: 20px;
    color: white;
    padding-left: 70px;
    margin-top: 100px;
}

.btnCloseButton {
    width: 70px;
}

#notificationBar {
    z-index: 999;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    top: 0;
    left: 100%;
    height: 94%;
    width: 20%;
    background-color: #567D8C;
}

.notification {
    display: inline;
    position: relative;
    min-height: 20px;
    max-width: 100%;
    padding: 10px;
    border-color:#567D8C; 
    color:#F2F2F0;
    border-radius: 10px; 
    border-style: solid;
}

.notifyIcon {
    padding-right: 5px;
    width: 50px;
    height: 50px; 
}

.desktopIcon {
    width: 100px;
    height: 140px;
    margin: auto;
    display: inline-block;
    background-color: transparent;
    color: white;
    text-shadow: 0px 0px 2px black;
    text-align: center;
    margin-top: 15px;
}

.desktopIcon:hover {
    background-color: #F2F2F0;
}

.desktopIcon:active {
    background-color: #F2E3D5;    
}

.applicationContainer:hover {
    background-color: #F2F2F0;
}

.applicationContainer:active {
    background-color: #F2E3D5;    
}

.alert-primary p {
    display: inline;
}
.backPTag:hover {
    display: inline;
    background-color: #567D8C;
}

.iconBadge {
    z-index: 2;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 45px;
    top: 35px;
}

.updateSpinner {
    font-size: 30px;
    margin-right: 20px;
}
