body {
    margin: 0;
    background-color: #EEEEEE;
    padding: 1rem;
    min-height: 100%;
    height: 100%;
}

html {
    height: 100%;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: black;
}

.uiTransparent {
    background-color: rgba(7,24,38,0.7);
}
