<div class="container" style="height: 100%;">
    <div class="row" style="background-color: orange; height: 100%;">
        <div style="width: 100%; text-align: right;">
            <div class="alert alert-success" role="alert">
                You are 100% secured!
            </div>
        </div>

        <div class="card text-md-center" style="width: 100%; background-color: lightgray;">
            <div class="card-body">
                <h2 class="card-title" style="font-size: 50px;"><strong>WinDOORS AntiVirus</strong></h2>
                <p class="card-text" style="width: 70%; margin: auto;">
                    <i>Protecting your PC from evil viruses since 2006!</i> <br /> <br />
                    We firmly believe in a world where people do not have to worry about getting all their data stolen every time they use their computer.
                    With this application installed, we are proud to inform you that you live in that world! <em><u>No viruses or trojans can enter your PC
                    as long as this app is still installed</u></em>.
                </p>
            </div>
        </div>
        
        <div class="card" style="width: 100%; background-color: lightgray; margin-top: 30px;">
            <div class="card-header">
                What our customers say:
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                <p>I love starting my computer after my morning coffee and seeing WinDOORS AntiVirus in the taskbar. It makes me feel protected just as if someone hugs me right there and then.</p>
                <footer class="blockquote-footer">Jolana Chairrange</footer>
                </blockquote>
            </div>
        </div>
        <div class="card-footer text-black" style="width: 100%; background-color: gray; text-align: center;">
            © WinDOORS AntiVirus 2018
        </div>
    </div>
</div>
