<div class="container">
        <div class="row">
            <div class="col-12">
                <div id="appStore" class="form-group"></div>
            </div>
        </div>
        <script>
            var uninstalledInstallers = AppsGetAllUninstalledInstallers();
            var $container = $('#appStore');
            for (let installerName in uninstalledInstallers)
            {
                console.log("yeet");
                let installer = uninstalledInstallers[installerName];
                let html = 
                `
                <div class="applicationContainer" style="float: left; padding: 10px; width: 180px; height: 180px;" onclick="InstallInstaller('${installerName}')">
                    <div class="container">
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-12 rowNoPaddingOrMargin verticalAlign" style="margin: 5px">
                                <img src="${installer.icon}" width="100px" height="100px" style="margin: auto"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 verticalAlign rowNoPaddingOrMargin">
                                <span style="text-align: center; color: white; text-shadow: 0px 0px 2px black; margin: 0; padding: 0;">${installer.friendlyName}</span>
                            </div>
                        </div>
                    </div>
                </div>
                `;
                $container.append(html);
             }
            function InstallInstaller(instName)
            {
                AppSetInstalled(instName, true);
            }
        </script>
    </div>
