<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron" style="background-color: rgb(151, 175, 143); background-image: url('http://icons.iconarchive.com/icons/google/noto-emoji-food-drink/128/32358-avocado-icon.png'); background-repeat: no-repeat; background-size: 250px; background-position: right;">
                <h1 class="display-4">The application was successfully installed!!</h1>
                <p class="lead">You can close the installer now..</p>
                <hr class="my-4">
                <p>Thank you for using Avocado Installer.</p>
                <button type="button" class="btn btn-danger" onclick="WindowHide();">Close</button>
            </div>
        </div>
    </div>
</div>
    
<script>
    _applicationState['AvocadoInstaller'].callback();
</script>
