<script>
    function StartInstallation()
    {
        let $jumbo = $("#installerJumbotron");
        $jumbo.empty();
        $jumbo.append('<h1 class="display-4"> <i class="fas fa-spinner fa-spin"></i> Installing... </h1>');
        
        CallAfterSeconds(() => {
            WindowCreateFromTemplate('avocadoInstaller-3'); 
        }, _applicationState['AvocadoInstaller'].installLength);

    }
</script>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron" id="installerJumbotron" style="background-color: rgb(151, 175, 143); background-image: url('http://icons.iconarchive.com/icons/google/noto-emoji-food-drink/128/32358-avocado-icon.png'); background-repeat: no-repeat; background-size: 250px; background-position: right;">
                <h1 class="display-4" id="installerTitle"> </h1>
                <p class="lead">To install this application, you have to agree with the following Terms of Service:.</p>
                <textarea id="installedTos" style="width: 70%;" readonly></textarea>
                <hr class="my-4">
                <p>If you do not accept these Terms of Service, the application will not be installed.</p>
                <button type="button" class="btn btn-danger" onclick="WindowHide();">Decline</button>
                <button type="button" class="btn btn-success" onclick="StartInstallation();">Accept</button>
            </div>
        </div>
    </div>
</div>
    
<script>
    $('#installerTitle').text("Installing " + _applications[_applicationState['AvocadoInstaller'].name]['friendlyName']);
    $('#installerJumbotron').css('background-image', "url('" + _applications[_applicationState['AvocadoInstaller'].name]['icon'] + "')");
    $('#installedTos').val(_applicationState['AvocadoInstaller'].ToS);
</script>
