<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron" style="background-color: rgb(151, 175, 143); background-image: url('http://icons.iconarchive.com/icons/google/noto-emoji-food-drink/128/32358-avocado-icon.png'); background-repeat: no-repeat; background-size: 250px; background-position: right;">
                <h1 class="display-4">Welcome to Avocado Installer!</h1>
                <p class="lead">These few simple steps will walk you through installing your new app.</p>
                <hr class="my-4">
                <p>To continue with the installation, please click the 'Next' button.</p>
                <a class="btn btn-success btn-lg" href="#" role="button" onclick="WindowCreateFromTemplate('avocadoInstaller-2');">Next</a>
            </div>
        </div>
    </div>
</div>
