<script>
    var applicationToInstall = {
        "name": "education",
        "installLength": 3,
        "ToS": "You agree to subscribe to the youtube channel and appreciate the education",
        "callback": function () {
            AppSetInstalled('education', true);
            IconsReload();
        }
    }
</script>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid" style="background-image: url('https://thumbs.gfycat.com/InexperiencedNaturalBustard-size_restricted.gif'); background-size: cover; color: white; text-shadow: 0px 0px 3px black;">
                <div class="container">
                    <h1 class="display-4">You are about to install Education</h1>
                    <p class="lead">The fastest way to make your IQ higher and learn about things</p>
                </div>
            </div>
            <button type="button" class="btn btn-danger" onclick="WindowHide();">Cancel</button>
            <button type="button" class="btn btn-success" onclick="AvocadoInstall(applicationToInstall);">Install</button>
        </div>
    </div>
</div>