<!-- http://icons.iconarchive.com/icons/paomedia/small-n-flat/128/book-bookmark-icon.png -->
<script>
    var applicationToInstall = {
        "name": "notes",
        "ToS": "You agree to not save nasty information about our company and our operating system, including expressions through emojis.",
        "callback": function () {
            console.log('-- Notes Installed --');
            AppSetInstalled('notesInstaller', false);
            AppSetInstalled('notes', true);
            _applications['notes']['installed'] = true;
            $.get( "data/docs.txt", function( data ) {
                _applicationState['notes'] = {
                    "content": data
                }
            });
        }
    }
</script>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid" style="background-image: url('https://thumbs.gfycat.com/InexperiencedNaturalBustard-size_restricted.gif'); background-size: cover; color: white; text-shadow: 0px 0px 3px black;">
                <div class="container">
                  <h1 class="display-4">You are about to install Notes</h1>
                  <p class="lead">The next generation of note taking technology is here. Enter the future of plain text.</p>
                </div>
              </div>
              <button type="button" class="btn btn-danger" onclick="WindowHide();">Cancel</button>
              <button type="button" class="btn btn-success" onclick="AvocadoInstall(applicationToInstall);">Install</button>
        </div>
    </div>
</div>
