<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary" role="alert">
               <p id="systemSetting">System-Settings</p>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <div class="desktopIcon" style="float: left; padding: 10px" onclick="WindowCreateFromTemplate('settings-changeBackground');">
                    <div class="container">
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-12 rowNoPaddingOrMargin verticalAlign" style="margin: 5px">
                                <img src="http://icons.iconarchive.com/icons/treetog/junior/128/monitor-icon.png" width="60" height="60" style="margin: auto"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 verticalAlign rowNoPaddingOrMargin">
                                <span style="color: white; text-shadow: 0px 0px 2px black;">Change Background</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desktopIcon" style="float: left; padding: 10px" onclick="WindowCreateFromTemplate('settings-uninstall');">
                    <div class="container">
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-12 rowNoPaddingOrMargin verticalAlign" style="margin: 5px">
                                <img src="http://icons.iconarchive.com/icons/treetog/junior/128/monitor-icon.png" width="60" height="60" style="margin: auto"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 verticalAlign rowNoPaddingOrMargin">
                                <span style="color: white; text-shadow: 0px 0px 2px black;">Uninstall Applications</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
         
    </script>
</div>
