<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary" role="alert">               
                <p id="systemSetting" class="btn btn-primary" onclick="WindowCreateFromTemplate('settings-start')">System-Settings</p>
                >>
                <p id="changeBackground">Change Desktop Background</p>
            </div>
        </div>
        <div class="col-12">
            <div id="backgroundPicker">
                <div clas="col-12" style="border-style:solid;">
                    <div style="float: left; padding: 10px" onclick="DesktopSetWallpaper('./img/wallpapers/DeafultWallpaper.jpg');">
                        <img src="./img/wallpapers/DeafultWallpaper.jpg" width="120" height="120" style="margin: auto"/>
                    </div>
                    <div style="float: left; padding: 10px" onclick="DesktopSetWallpaper('./img/wallpapers/Wallpaper-1.jpg');">
                        <img src="./img/wallpapers/Wallpaper-1.jpg" width="120" height="120" style="margin: auto"/>
                    </div>
                    <div style="float: left; padding: 10px" onclick="DesktopSetWallpaper('./img/wallpapers/Wallpaper-2.jpg');">
                        <img src="./img/wallpapers/Wallpaper-2.jpg" width="120" height="120" style="margin: auto"/>
                    </div>
                    <div style="float: left; padding: 10px" onclick="DesktopSetWallpaper('./img/wallpapers/Wallpaper-3.png');">
                        <img src="./img/wallpapers/Wallpaper-3.png" width="120" height="120" style="margin: auto"/>
                    </div>
                    <div style="float: left; padding: 10px" onclick="DesktopSetWallpaper('./img/wallpapers/Wallpaper-4.png');">
                        <img src="./img/wallpapers/Wallpaper-4.png" width="120" height="120" style="margin: auto"/>
                    </div>
                    <div style="float: left; padding: 10px" onclick="DesktopSetWallpaper('./img/wallpapers/Wallpaper-5.jpg');">
                        <img src="./img/wallpapers/Wallpaper-5.jpg" width="120" height="120" style="margin: auto"/>
                    </div>
                    <div style="float: left; padding: 10px" onclick="DesktopSetWallpaper('./img/wallpapers/Wallpaper-6.jpg');">
                        <img src="./img/wallpapers/Wallpaper-6.jpg" width="120" height="120" style="margin: auto"/>
                    </div>
                    <div style="float: left; padding: 10px" onclick="DesktopSetWallpaper('./img/wallpapers/Wallpaper-7.jpg');">
                        <img src="./img/wallpapers/Wallpaper-7.jpg" width="120" height="120" style="margin: auto"/>
                    </div>
                    <div style="float: left; padding: 10px" onclick="DesktopSetWallpaper('./img/wallpapers/Wallpaper-8.jpg');">
                        <img src="./img/wallpapers/Wallpaper-8.jpg" width="120" height="120" style="margin: auto"/>
                    </div>
                    <div style="float: left; padding: 10px" onclick="DesktopSetWallpaper('./img/wallpapers/Wallpaper-9.jpg');">
                        <img src="./img/wallpapers/Wallpaper-9.jpg" width="120" height="120" style="margin: auto"/>
                    </div>
                    <div style="float: left; padding: 10px" onclick="DesktopSetWallpaper('./img/wallpapers/Wallpaper-10.jpg');">
                        <img src="./img/wallpapers/Wallpaper-10.jpg" width="120" height="120" style="margin: auto"/>
                    </div>
                    <div style="float: left; padding: 10px" onclick="DesktopSetWallpaper('./img/wallpapers/Wallpaper-11.jpg');">
                        <img src="./img/wallpapers/Wallpaper-11.jpg" width="120" height="120" style="margin: auto"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    </script>
</div>
