<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary" role="alert">               
                <p id="systemSetting" class="btn btn-primary" onclick="WindowCreateFromTemplate('settings-start')">System-Settings</p>
                >>
                <p class"breadcrumb-">Uninstall Applications</p>
            </div>
        </div>
        <div class="col-12">
            <div id="uninstallContent" class="form-group">
                
            </div>
        </div>
    </div>
    <script>
         $(document).ready(function()
        {
            _UpdateWindow();
        });
        function _UpdateWindow()
        {
            let $content = $('#uninstallContent');
            $content.empty();
            let apps = AppsGetAllInstalled();
            for (let app in apps)
            {
                let appName = app;
                app = apps[app];
                if (app.protected) continue;
                let $appItem = `
                <div class="container uiTransparent" style="color:white">
                    <div class="row">
                        <div class="col-1">
                            <img src="${app.icon}"class="verticalAlign" style="height:40px; width:40px;"></img>
                        </div>
                        <div class="col-3 verticalAlign">
                            <p style="text-align:center">${app.friendlyName}</p>
                        </div>
                        <div class="col-6 verticalAlign">
                            <p style="text-align:center">PLACEHOLDER FOR DESCRIPTION OF THE APP</p>
                        </div>
                        <div class="col-1 verticalAlign">
                            <p style="text-align:center">${app.size}</p>
                        </div>
                        <button class="col-1 btn btn-primary text-white" onclick="_RemoveApp('${appName}')">
                            X
                        </button>
                    </div>
                </div>
                `;
                $content.append($appItem);                
            }
        }
        
        function _RemoveApp(appName)
        {
            AppUninstall(appName);
            _UpdateWindow();         
        }
    </script>
</div>
