<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary" role="alert">               
                <p id="systemSetting" class="btn btn-primary" onclick="WindowCreateFromTemplate('settings-start')">System-Settings</p>
                >>
                <p id="changeBackground">Change Desktop Background</p>
            </div>
        </div>
        <div class="col-12">
            <div id="backgroundPicker">
                <div clas="col-12" style="border-style:solid;">
                    <div style="float: left; padding: 10px" onclick="DesktopSetWallpaper('http://www.purple-planet.com/communities/5/004/012/574/565//images/4629174184.jpg');">
                        <img src="http://www.purple-planet.com/communities/5/004/012/574/565//images/4629174184.jpg" width="60" height="60" style="margin: auto"/>
                    </div>
                    <div style="float: left; padding: 10px" onclick="DesktopSetWallpaper('https://thumbs.dreamstime.com/t/galaxy-space-sky-stars-lights-fantasy-background-explore-your-dreams-53351848.jpg');">
                        <img src="https://thumbs.dreamstime.com/t/galaxy-space-sky-stars-lights-fantasy-background-explore-your-dreams-53351848.jpg" width="60" height="60" style="margin: auto"/>
                    </div>
                    <div style="float: left; padding: 10px" onclick="DesktopSetWallpaper('http://www.purple-planet.com/communities/5/004/012/574/565//images/4629174184.jpg');">
                        <img src="http://www.purple-planet.com/communities/5/004/012/574/565//images/4629174184.jpg" width="60" height="60" style="margin: auto"/>
                    </div>
                    <div style="float: left; padding: 10px" onclick="DesktopSetWallpaper('http://www.purple-planet.com/communities/5/004/012/574/565//images/4629174184.jpg');">
                        <img src="http://www.purple-planet.com/communities/5/004/012/574/565//images/4629174184.jpg" width="60" height="60" style="margin: auto"/>
                    </div>
                    <div style="float: left; padding: 10px" onclick="DesktopSetWallpaper('http://www.purple-planet.com/communities/5/004/012/574/565//images/4629174184.jpg');">
                        <img src="http://www.purple-planet.com/communities/5/004/012/574/565//images/4629174184.jpg" width="60" height="60" style="margin: auto"/>
                    </div>
                    <div style="float: left; padding: 10px" onclick="DesktopSetWallpaper('http://www.purple-planet.com/communities/5/004/012/574/565//images/4629174184.jpg');">
                        <img src="http://www.purple-planet.com/communities/5/004/012/574/565//images/4629174184.jpg" width="60" height="60" style="margin: auto"/>
                    </div>
                    <div style="float: left; padding: 10px" onclick="DesktopSetWallpaper('http://www.purple-planet.com/communities/5/004/012/574/565//images/4629174184.jpg');">
                        <img src="http://www.purple-planet.com/communities/5/004/012/574/565//images/4629174184.jpg" width="60" height="60" style="margin: auto"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    </script>
</div>
