<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary" role="alert">               
                <p id="systemSetting" class="btn btn-primary" onclick="WindowCreateFromTemplate('settings-start')">System-Settings</p>
                >>
                <p class"breadcrumb-">Application Overview</p>
            </div>
        </div>
        <div id="systemInfo" class="col-12 rowNoPaddingOrMargin" style="padding:15px"></div>
        <div class="col-12 rowNoPaddingOrMargin" >
            <div id="showSizes" class="form-group">
                
            </div>
        </div>
    </div>
    <script>
         $(document).ready(function()
        {
            _UpdateWindow();
        });
        function _UpdateWindow()
        {
            let $sysInfo = $('#systemInfo');
            $sysInfo.empty();
            $sysInfo.append(`<span class="text-white" style="text-align:center">Total size:${SpaceStringify(Space.max)} | Used: ${SpaceStringify(Space.used)} (${SpaceToPercentageOfTotalStorage(Space.used)}%) | Free: ${SpaceStringify(Space.free)} (${SpaceToPercentageOfTotalStorage(Space.free)}%)</span>`);
            let $content = $('#showSizes');
            $content.empty();
            let apps = AppsGetAllInstalled();
            for (let app in apps)
            {
                let appName = app;
                app = apps[app];
                if (app.protected) continue;
                let $appItem = `
                <div class="container uiTransparent" style="color:white; border-style:solid; border-color:black; margin: 2px; padding: 5px;">
                    <div class="row rowNoPaddingOrMargin">
                        <div class="col-1 rowNoPaddingOrMargin">
                            <img src="${app.icon}"class="verticalAlign" style="height:60px; width:60px;"></img>
                        </div>
                        <div class="col-9 verticalAlign rowNoPaddingOrMargin">
                            <p style="text-align:center">${app.friendlyName}</p>
                        </div>
                        <div class="col-2 rowNoPaddingOrMargin text-white verticalAlign" style="padding:2px">
                            <span>${SpaceStringify(app.size)} (${SpaceToPercentageOfTotalStorage(app.size)}%)</span>
                        </div>
                    </div>
                </div>
                `;
                $content.append($appItem);                
            }
        }
        
        function _RemoveApp(appName)
        {
            AppSetInstalled(appName, false);
            _UpdateWindow();         
        }
    </script>
</div>
