<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary" role="alert">               
                <p id="systemSetting" class="btn btn-primary" onclick="WindowCreateFromTemplate('settings-start')">System-Settings</p>
                >>
                <p class"breadcrumb-">Uninstall Applications</p>
            </div>
        </div>
        <div class="col-12">
            <div id="uninstallContent" class="form-group">
                
            </div>
        </div>
    </div>
    <script>
         $(document).ready(function()
        {
            _UpdateWindow();
        });
        function _UpdateWindow()
        {
            let $content = $('#uninstallContent');
            $content.empty();
            let apps = AppsGetAllInstalled();
            for (let app in apps)
            {
                let appName = app;
                app = apps[app];
                if (app.protected) continue;
                let $appItem = `
                <div class="container uiTransparent" style="color:white; border-style:solid; border-color:black; margin: 2px; padding: 5px;">
                    <div class="row rowNoPaddingOrMargin">
                        <div class="col-1 rowNoPaddingOrMargin">
                            <img src="${app.icon}"class="verticalAlign" style="height:60px; width:60px;"></img>
                        </div>
                        <div class="col-10 verticalAlign rowNoPaddingOrMargin">
                            <p style="text-align:center">${app.friendlyName}</p>
                        </div>
                        <button class="col-1 rowNoPaddingOrMargin btn btn-primary text-white" style="padding:2px" onclick="_RemoveApp('${appName}')">
                            X
                        </button>
                    </div>
                </div>
                `;
                $content.append($appItem);                
            }
        }
        
        function _RemoveApp(appName)
        {
            AppSetInstalled(appName, false);
            
            if(appName === 'settings-start')
            {
                AchievementCompleteById('whoops');
            }
            else if (appName === 'notes')
            {
                AchievementCompleteById('notes');
            }

            if (_applications[appName].virus)
            {
                virusNames.push(appName);
            }

            _UpdateWindow();         
        }
    </script>
</div>
