<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary" role="alert">
                Hello, I'm an application!
            </div>
        </div>
        <div class="col-12">
            <div class="card" style="width: 50%; margin: auto; margin-bottom: 95px;">
                <img class="card-img-top" src="https://static.zerochan.net/Mercy.full.2190568.jpg" alt="mercy">
                <div class="card-body">
                    <h5 class="card-title">Interact with me!</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
