<div class="container">
    <div id="virusButcherBackground" class="row" style="background-color: lightgray;">
        <div class="card text-center" style="width: 100%;">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Premium 50% off!</h5>
                <p class="card-text">For a limited time only, you can upgrade to premium protected for 50% less!</p>
                <button  onclick="premium()" type="button" class="btn btn-success btn-lg" style="margin:auto;">Upgrade to premium</button>
            </div>
            <div class="card-footer text-muted">
                2 days remaining.
            </div>
        </div>
        <div style="width: 100%;">
            <div class="card text-white bg-success mb-3" style="width: 18rem; margin: 2rem; float: left; height: 12rem;">
                <div class="card-body">
                    <h5 class="card-title">Securest app on the market!</h5>
                    <h6 class="card-subtitle mb-2 text-white-50">Award winning software</h6>
                    <p class="card-text">We have, on various occasions, been awarded the most secure app available for download.</p>
                </div>
            </div>
            <div class="card text-white bg-success mb-3" style="width: 18rem; margin: 2rem; float: left; height: 12rem;">
                <div class="card-body">
                    <h5 class="card-title">100% Verified</h5>
                    <h6 class="card-subtitle mb-2 text-white-50">Used everywhere</h6>
                    <p class="card-text">Our software is used all the time on a global scale every single day. Users love us!</p>
                </div>
            </div>
            <div class="card text-white bg-success mb-3" style="width: 18rem; margin: 2rem; float: left; height: 12rem;">
                <div class="card-body">
                    <h5 class="card-title">Virus killer</h5>
                    <h6 class="card-subtitle mb-2 text-white-50">Most viruses removed 2018</h6>
                    <p class="card-text">In 2018, we removed 54 viruses globally! That is more viruses than there are weeks on a year!</p>
                </div>
            </div>
        </div>
        <div class="card text-center" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">Full-computer scan</h5>
                <p class="card-text">
                    Scan every file in your computer for viruses in a matter of seconds. <br />
                    We use the latest nanotechnology to speed up the search to waste as little of your time as possible. <br />
                </p>
                <p><i>You are too secure to scan your computer right now.</i></p>
                <button type="button" class="btn btn-dark btn-lg" disabled style="width:80%; margin:auto;">Scan now</button>
            </div>
            <div class="card-footer text-muted">
                © VirusButcher v3.93 2018
            </div>
        </div>
    </div>

    <script>
        function premium()
        {
            document.getElementById("virusButcherBackground").setAttribute("style", "background-color: fuchsia");
        }
    </script>
</div>
